[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}

.wayway {
	float: left;
}

#map {
	width: 100%;
	height: 400px;
}

.but {
	background-image: url("../img/mar.png");
	color: #5F5F5F;
	width: 40px;
	height: 40px;
	float: left;
	font-weight: bold;
	font-size: 15px;
	padding-right: 7px;
	text-align: right;
}


.but:hover {
	
	background-image: url("../img/mar-p.png");
	cursor:pointer;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}

.marp {
	
	background-image: url("../img/mar-p.png");
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}

.butT {
	background-image: url("../img/tral.png");
	color: #5F5F5F;
	width: 40px;
	height: 40px;
	float: left;
	font-weight: bold;
	font-size: 15px;
	padding-right: 7px;
	text-align: right;
}
.butT:hover {
	
	background-image: url("../img/tral-p.png");
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	cursor:pointer;
}
.marpT {
	
	background-image: url("../img/tral-p.png");
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;

}

.lng {
	margin-right: 10px;
}


.lng:hover {
	cursor:pointer;
	box-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;	
}

.flagon {
	
		box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
