<!DOCTYPE html>
<html lang="ru" ng-app='app'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <hdrlng></hdrlng>

    <!-- <link rel="shortcut icon" href="../../images/f.ico" type="image/x-icon"> -->
    <link href='css/bootstrap.css' rel="stylesheet">
    <link href='css/style.css' rel="stylesheet">
    <script src="js/jquery-2.2.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=en_US" type="text/javascript"></script>
    <script src="js/common.js"></script>

   </head>
    
      <body ng-cloak ng-controller="myCtrl">
          <div align="right">
            <img id="flagUA" class='lng' title="Українська" src="img/ua.png" ng-click="setLng('ua')"></img> 
            <img id="flagGB" class='lng' title="English" src="img/gb.png" ng-click="setLng('gb')"></img> 
            <img id="flagRU" class='lng flagon' title="Русский" src="img/ru.png" ng-click="setLng('ru')"></img>
          </div>
                <h2 align='center'>{{titLng}}</h2><br>
 
 <div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <input ng-model="$ctrl.query" placeholder='{{filterLng}}'></input>
        <div style='height:45px; color: {{marColor}};'align='center'><h4>{{marWay}}</h4></div>

            <div ng-repeat="x in list | filter:$ctrl.query" title="{{altLng+' №'+x.mar}}" class='but'
                  id="{{'mar'+x.num}}" ng-click='buttonPress(x.num)' ng-mouseover='mouseOvr(x.num)' 
                    ng-mouseleave='mouseLv()'>{{x.mar}}
            </div>
                  <br><br><br><hr>
            <div ng-repeat="x in listT | filter:$ctrl.query" title="{{altLngT+' №'+x.mar}}" class='butT'
                  id="{{'marT'+x.num}}" ng-click='buttonPressT(x.num)' ng-mouseover='mouseOvrT(x.num)' 
                    ng-mouseleave='mouseLv()'>{{x.mar}}
            </div>
  </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
          <div id='map'>
            <foo></foo>
          </div>
              <div align='left'><b>{{marLng}}: </b></div>
              <div class="wayway" ng-repeat="k in busWay">{{k+","}}</div>
      </div>
  </body>
</html>